.card-body {
  text-align: center;
  padding: 60px;
}

.card-title {
  color: #333;
}

.alert {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 70%; /* Riduci la larghezza della casella di testo secondo le tue preferenze */
  padding: 10px;
  margin-top: 5px;
}

.em-error {
  color: #dc3545;
}

.btn-submit {
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

