.mat-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px; /* Aggiungi un margine tra le colonne, se desiderato */
}

.full-width {
  width: 100%;
}

.email{
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
}
