<h1 mat-dialog-title align="center" style="font-size:20px; font-weight:bold">Details person</h1>
<mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <strong>First name:</strong> {{ data.person.firstName }}
    </mat-list-item>

    <mat-list-item>
      <strong>Last name:</strong> {{ data.person.lastName }}
    </mat-list-item>

    <mat-list-item>
      <strong>CF:</strong> {{ data.person.cf }}
    </mat-list-item>

    <mat-list-item>
      <strong>Work role:</strong> {{ data.person.workRole }}
    </mat-list-item>

    <mat-list-item>
      <strong>Phone number:</strong> {{ data.person.phone }}
    </mat-list-item>

    <mat-list-item>
      <strong>Email:</strong> {{ data.person.email }}
    </mat-list-item>

    <mat-list-item>
      <strong>Secondary email:</strong> {{ data.person.secondEmail }}
    </mat-list-item>

    <mat-list-item>
      <strong>Password:</strong>
    </mat-list-item>

    <mat-list-item>
      <strong>Is GDPR accetped?:</strong> {{ data.person.isGDPRTermsAccepted ? 'Yes' : 'No' }}
    </mat-list-item>

  </mat-list>
  </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-raised-button type="button" (click)="closepopup()" color="primary">Close</button>
    </mat-dialog-actions>
