<h1 mat-dialog-title align="center" style="font-size:20px; font-weight:bold">Details person</h1>
<mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <strong>First name:</strong> {{ data.person.FirstName }}
    </mat-list-item>

    <mat-list-item>
      <strong>Last name:</strong> {{ data.person.LastName }}
    </mat-list-item>

    <mat-list-item>
      <strong>CF:</strong> {{ data.person.CF }}
    </mat-list-item>

    <mat-list-item>
      <strong>Organization:</strong> {{ data.person.OrganizationName }}
    </mat-list-item>

    <mat-list-item>
      <strong>Work role:</strong> {{ data.person.WorkRole }}
    </mat-list-item>

    <mat-list-item>
      <strong>Phone number:</strong> {{ data.person.Phone }}
    </mat-list-item>

    <mat-list-item>
      <strong>Email:</strong> {{ data.person.Email }}
    </mat-list-item>

    <mat-list-item>
      <strong>Secondary email:</strong> {{ data.person.SecondEmail }}
    </mat-list-item>

    <mat-list-item>
      <strong>Is GDPR accetped?:</strong> {{ data.person.IsGDPRTermsAccepted ? 'Yes' : 'No' }}
    </mat-list-item>

    <mat-list-item>
      <strong>is Service Processing Purposes Accepted?:</strong> {{ data.person.IsServiceProcessingPurposesAccepted ? 'Yes' : 'No' }}
    </mat-list-item>

    <mat-list-item>
      <strong>is Other Processing Purposes Accepted?:</strong> {{ data.person.IsOtherProcessingPurposesAccepted ? 'Yes' : 'No' }}
    </mat-list-item>

    <mat-list-item>
      <strong>Roles:</strong> {{ data.person.Roles }}
    </mat-list-item>



  </mat-list>
  </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-raised-button type="button" (click)="closepopup()" color="primary">Close</button>
    </mat-dialog-actions>
