<div>
  <div class="head">
    <h1 style="text-align:center"><b>Data Processing Declaration (GDPR)</b></h1>
  </div>

  <div class="content">
    <h3><b>Responsible for Data Processing:</b></h3>
    <h5>5Emme Informatica S.p.A.</h5>
    <h5>Via Giorgione 59</h5>
    <h5>mail&#64;5minformatica.it</h5>
    <h5>+39 06 54224774</h5>
  </div>

  <div class="content">
    <h3><b>Purpose of Data Processing:</b></h3>
    <h5>We collect and process personal data of users of our web app to provide them with our services.</h5>
    <h5>The collected personal data may include contact information, payment information, and other information voluntarily provided by users during the use of our web app.</h5>
  </div>

  <div class="content">
    <h3><b>Legal Basis for Data Processing:</b></h3>
    <h5>The processing of users' personal data is based on their explicit consent or the need to fulfill a contract with the users.</h5>
  </div>

  <div class="content">
    <h3><b>User Consent:</b></h3>
    <h5>Users must provide their consent to the processing of personal data during the registration process to use our web app.</h5>
    <h5>Users have the right to revoke their consent at any time by contacting us using the contact details provided below.</h5>
  </div>

  <div class="content">
    <h3><b>User Rights:</b></h3>
    <h5>Users have the right to access, rectify, delete, or object to the processing of their personal data.</h5>
    <h5>They can exercise these rights by contacting us using the provided contact details.</h5>
  </div>

  <div class="content">
    <h3><b>Data Sharing:</b></h3>
    <h5>Users' personal data may be shared with third parties only when necessary to provide our services or to fulfill legal obligations.</h5>
    <h5>We do not share users' personal data with third parties for marketing purposes without their explicit consent.</h5>
  </div>

  <div class="content">
    <h3><b>Data Security:</b></h3>
    <h5>We have implemented technical and organizational security measures to protect users' personal data from unauthorized access, loss, or alteration.</h5>
  </div>

  <div class="content">
    <h3><b>Changes to the Declaration:</b></h3>
    <h5>This declaration may be subject to occasional changes. Any significant changes will be notified to users through our web app.</h5>
  </div>

  <div class="content">
    <h3><b>Contact:</b></h3>
    <h5>For any questions or concerns regarding the privacy of users' personal data or to exercise their data protection rights, please contact:</h5>
    <h5><b>mail&#64;5minformatica.it</b></h5>
  </div>
</div>
