<!--<app-navbar></app-navbar>-->
<!--<app-sidebar></app-sidebar>-->

<h2 style="margin-top: 95px">Organizations List</h2>
<br>
<div *ngIf="dataSource.data.length === 0; else OrgTable">
  <h3 align="center">There are no organizations</h3>
</div>

<ng-template #OrgTable>
  <div>

      <mat-form-field class="input-filter" appearance="outline">
        <mat-label>Filter for org name</mat-label>
        <input #filterNameInput matInput [(ngModel)]="filterName" (input)="applyFilter()" placeholder="Organization name">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Org name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="vatNumber">
          <th mat-header-cell *matHeaderCellDef> VAT </th>
          <td mat-cell *matCellDef="let element"> {{element.vatNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="streetAddress">
          <th mat-header-cell *matHeaderCellDef> Street address </th>
          <td mat-cell *matCellDef="let element"> {{element.streetAddress}} </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <ng-container matColumnDef="province_State">
          <th mat-header-cell *matHeaderCellDef> Province state </th>
          <td mat-cell *matCellDef="let element"> {{element.province_State}} </td>
        </ng-container>

        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef> Country </th>
          <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>

        <ng-container matColumnDef="zipCode">
          <th mat-header-cell *matHeaderCellDef> Zip code </th>
          <td mat-cell *matCellDef="let element"> {{element.zipCode}} </td>
        </ng-container>

        <ng-container matColumnDef="additionalInformation">
          <th mat-header-cell *matHeaderCellDef> Additional info </th>
          <td mat-cell *matCellDef="let element"> {{element.additionalInformation}} </td>
        </ng-container>

        <ng-container matColumnDef="webSite">
          <th mat-header-cell *matHeaderCellDef> Website </th>
          <td mat-cell *matCellDef="let element"> {{element.webSite}} </td>
        </ng-container>

        <ng-container matColumnDef="emailAddress">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
        </ng-container>

        <ng-container matColumnDef="emailDomain">
          <th mat-header-cell *matHeaderCellDef> Domain </th>
          <td mat-cell *matCellDef="let element"> {{element.emailDomain}} </td>
        </ng-container>

        <ng-container matColumnDef="pec">
          <th mat-header-cell *matHeaderCellDef> PEC </th>
          <td mat-cell *matCellDef="let element"> {{element.pec}} </td>
        </ng-container>

        <ng-container matColumnDef="billingCode">
          <th mat-header-cell *matHeaderCellDef> Billing code </th>
          <td mat-cell *matCellDef="let element"> {{element.billingCode}} </td>
        </ng-container>

        <ng-container matColumnDef="isSupplier">
          <th mat-header-cell *matHeaderCellDef> Is Supplier </th>
          <td mat-cell *matCellDef="let element"> {{element.isSupplier? 'Yes' : 'No' }} </td>
        </ng-container>

        <ng-container matColumnDef="isCustomer">
          <th mat-header-cell *matHeaderCellDef> Is Customer </th>
          <td mat-cell *matCellDef="let element"> {{element.isCustomer? 'Yes' : 'No' }} </td>
        </ng-container>

        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab (click)="openDetailsDialog(element)" color="accent" matTooltop="Inspect">
              <mat-icon>search</mat-icon>
            </button>

            <button mat-mini-fab (click)="openUpdateDialog(element)" color="primary" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
  </div>
</ng-template>


