div {
  width: 98%;
  margin-inline: auto;
}

.spinner{
  display: inline-block;
}

mat-spinner {
    margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 2%;
}

button{
    margin-right:10px;
}

button.wrap-update-button {
  color: white;
}

button.wrap-delete-button {
  color: white;
}

.button-add{
    position:absolute;
    right : 10px;
}

.input-filter{
    margin-right:20px;
}

.reset_pwd {
  background-color: #FFA000;
}

.add-user {
  background-color: limegreen;
}

