span {
  font-size: 25px;
}

.custom-toolbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

button{
    margin-right:10px;
}

.right-button {
  margin-left: auto;
}

.wrap-route {
  margin-left: 8px;
}
