<mat-toolbar color="primary" class="custom-toolbar">
  <span>Area Amministrativa</span>

  <div class="wrap-route">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/organizzazione'"> Organizzazione </button>
      <button mat-menu-item [routerLink]="'/persone'"> Persone </button>
      <button mat-menu-item [routerLink]="'/utenti'"> Utenti </button>
    </mat-menu>
  </div>

  <button class="right-button" mat-icon-button>
    <mat-icon
      aria-hidden="false"
      aria-label="logout icon"
      fontIcon="logout"
      color="accent"
    ></mat-icon>
  </button>
</mat-toolbar>
