<mat-toolbar color="primary" class="custom-toolbar">
  <span>Admin area</span>

  <div class="wrap-route">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/organizzazione'"> Organization </button>
      <button mat-menu-item [routerLink]="'/persone'"> People </button>
    </mat-menu>
  </div>

  <a class="right-button" mat-icon-button href="https://www.google.com/">
    <mat-icon
      aria-hidden="false"
      aria-label="logout icon"
      fontIcon="logout"
      color="accent"
    ></mat-icon>
  </a>
</mat-toolbar>
