
<mat-toolbar color="primary" class="custom-toolbar" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button [routerLink]="''">Admin area</button>

  <button mat-icon-button [routerLink]="'/my-account'" class="right-button" matTooltip="Account">
    <mat-icon fontIcon="person" color="accent"></mat-icon>
  </button>


  <button mat-icon-button (click)="logout()" matTooltip="Logout">
    <mat-icon aria-hidden="false"
              aria-label="logout icon"
              fontIcon="logout"
              color="accent"></mat-icon>
  </button>
</mat-toolbar>
