<h1 mat-dialog-title align="center" style="font-size:20px; font-weight:bold">Details organization</h1>
<mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <strong>Org name:</strong> {{ data.org.name }}
    </mat-list-item>

    <mat-list-item>
      <strong>VAT:</strong> {{ data.org.vat }}
    </mat-list-item>

    <mat-list-item>
      <strong>Street address:</strong> {{ data.org.street_address }}
    </mat-list-item>

    <mat-list-item>
      <strong>City:</strong> {{ data.org.city }}
    </mat-list-item>

    <mat-list-item>
      <strong>Provice state:</strong> {{ data.org.province_state }}
    </mat-list-item>

    <mat-list-item>
      <strong>Country:</strong> {{ data.org.country }}
    </mat-list-item>

    <mat-list-item>
      <strong>Zip code:</strong> {{ data.org.zip_code }}
    </mat-list-item>

    <mat-list-item>
      <strong>Additional info:</strong> {{ data.org.additional_info }}
    </mat-list-item>

    <mat-list-item>
      <strong>Website:</strong> {{ data.org.website }}
    </mat-list-item>

    <mat-list-item>
      <strong>Email:</strong> {{ data.org.email }}
    </mat-list-item>

    <mat-list-item>
      <strong>Domain:</strong> {{ data.org.domain }}
    </mat-list-item>

    <mat-list-item>
      <strong>PEC:</strong> {{ data.org.pec }}
    </mat-list-item>

  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button type="button" (click)="closepopup()" color="primary">Close</button>
</mat-dialog-actions>
