<h1 mat-dialog-title align="center" style="font-size:20px; font-weight:bold">Details organization</h1>
<mat-dialog-content>
  <mat-list>

    <mat-list-item>
      <strong>ID:</strong> {{ data.org.Id }}
    </mat-list-item>

    <mat-list-item>
      <strong>Org name:</strong> {{ data.org.Name }}
    </mat-list-item>

    <mat-list-item>
      <strong>VAT:</strong> {{ data.org.VATNumber }}
    </mat-list-item>

    <mat-list-item>
      <strong>Street address:</strong> {{ data.org.StreetAddress }}
    </mat-list-item>

    <mat-list-item>
      <strong>City:</strong> {{ data.org.City }}
    </mat-list-item>

    <mat-list-item>
      <strong>Provice state:</strong> {{ data.org.Province_State }}
    </mat-list-item>

    <mat-list-item>
      <strong>Country:</strong> {{ data.org.Country }}
    </mat-list-item>

    <mat-list-item>
      <strong>Zip code:</strong> {{ data.org.ZipCode }}
    </mat-list-item>

    <mat-list-item>
      <strong>Additional info:</strong> {{ data.org.AdditionalInformation }}
    </mat-list-item>

    <mat-list-item>
      <strong>Website:</strong> {{ data.org.WebSite }}
    </mat-list-item>

    <mat-list-item>
      <strong>Email:</strong> {{ data.org.EmailAddress }}
    </mat-list-item>

    <mat-list-item>
      <strong>Domain:</strong> {{ data.org.EmailDomain }}
    </mat-list-item>

    <mat-list-item>
      <strong>PEC:</strong> {{ data.org.PEC }}
    </mat-list-item>

    <mat-list-item>
      <strong>Billing code:</strong> {{ data.org.BillingCode }}
    </mat-list-item>

    <mat-list-item>
      <strong>Is Supplier?:</strong> {{ data.org.IsSupplier? 'Yes' : 'No' }}
    </mat-list-item>

    <mat-list-item>
      <strong>Is Customer?:</strong> {{ data.org.IsCustomer? 'Yes' : 'No' }}
    </mat-list-item>

  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button type="button" (click)="closepopup()" color="primary">Close</button>
</mat-dialog-actions>
